.idea
.DS_Store
.scala_dependencies
.worksheet
.cache/
.history/
.lib/
.history
.cache
.*.swp
.*.swo

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
tags
out
dist/*

*.class
*.iml
*.ipr
*.iws
*.log